.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
.Rprofile
inst/doc
/tmp/

/.quarto/
/previous_projects/
/data-processed/
/data-raw/
/output/
example_data/*
.httr-oauth
.DS_Store
.quarto
figures/fig-voxel-model_raw.pdf
figures/fig-species-voxel_raw.pdf
**/*.quarto_ipynb
