http_interactions:
- request:
    method: GET
    uri: https://api.iucnredlist.org/api/v4/taxa/sis/44584
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
      etag: W/"9b335fc0caa10219dfb82fdb8e42d53b"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"sis_id":44584,"taxon":{"sis_id":44584,"scientific_name":"Pseudobatos
        planiceps","species_taxa":[],"subpopulation_taxa":[],"infrarank_taxa":[],"kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"CHONDRICHTHYES","order_name":"RHINOPRISTIFORMES","family_name":"RHINOBATIDAE","genus_name":"Pseudobatos","species_name":"planiceps","subpopulation_name":null,"infra_name":null,"authority":"(Garman,
        1880)","species":true,"subpopulation":false,"infrarank":false,"ssc_groups":[{"name":"IUCN
        SSC Shark Specialist Group (sharks and rays)","url":"https://www.iucnssg.org","description":"Chair:
        Rima Jabado (email: rimajabado@hotmail.com)\nRed List Authority Coordinator:
        Cassie Rigby (email: crigby@westnet.com.au)"}],"common_names":[{"main":true,"name":"Pacific
        Guitarfish","language":"eng"}],"synonyms":[{"name":"Rhinobatos planiceps Garman,
        1880","status":"NEW","genus_name":"Rhinobatos","species_name":"planiceps","species_author":"Garman,
        1880","infrarank_author":null,"subpopulation_name":null,"infra_type":null,"infra_name":null}]},"assessments":[{"assessment_date":"2020-02-24T00:00:00.000+00:00","year_published":"2020","latest":true,"possibly_extinct":false,"possibly_extinct_in_the_wild":false,"sis_taxon_id":44584,"criteria":"A2d","url":"https://www.iucnredlist.org/species/44584/124433864","taxon_scientific_name":"Pseudobatos
        planiceps","red_list_category_code":"VU","assessment_id":124433864,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"assessment_date":"2004-05-02T01:00:00.000+01:00","year_published":"2016","latest":false,"possibly_extinct":false,"possibly_extinct_in_the_wild":false,"sis_taxon_id":44584,"criteria":null,"url":"https://www.iucnredlist.org/species/44584/104001215","taxon_scientific_name":"Pseudobatos
        planiceps","red_list_category_code":"DD","assessment_id":104001215,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"assessment_date":"2004-04-30T01:00:00.000+01:00","year_published":"2004","latest":false,"possibly_extinct":false,"possibly_extinct_in_the_wild":false,"sis_taxon_id":44584,"criteria":null,"url":"https://www.iucnredlist.org/species/44584/10908941","taxon_scientific_name":"Pseudobatos
        planiceps","red_list_category_code":"DD","assessment_id":10908941,"scopes":[{"description":{"en":"Global"},"code":"1"}]}]}'
  recorded_at: 2026-06-16 10:01:41
- request:
    method: GET
    uri: https://api.iucnredlist.org/api/v4/assessment/124433864
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
      etag: W/"1a79549f777935d80064b41594d76a8e"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"assessment_date":"2020-02-24T00:00:00.000+00:00","year_published":"2020","latest":true,"possibly_extinct":false,"possibly_extinct_in_the_wild":false,"sis_taxon_id":44584,"criteria":"A2d","url":"https://www.iucnredlist.org/species/44584/124433864","citation":"Kyne,
        P.M., Charvet, P., Areano, E.M., Cevallos, A., Espinoza, M., González, A.,
        Gonzalez-Pestana, A., Herman, K., Mejía-Falla, P.A., Morales-Saldaña, J.M.,
        Navia, A.F. \u0026 Velez-Zuazo, X. 2020. Pseudobatos planiceps. The IUCN Red
        List of Threatened Species 2020: e.T44584A124433864. Accessed on 16 June 2026.","assessment_id":124433864,"assessment_points":false,"assessment_ranges":true,"taxon":{"sis_id":44584,"scientific_name":"Pseudobatos
        planiceps","species_taxa":[],"subpopulation_taxa":[],"infrarank_taxa":[],"kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"CHONDRICHTHYES","order_name":"RHINOPRISTIFORMES","family_name":"RHINOBATIDAE","genus_name":"Pseudobatos","species_name":"planiceps","subpopulation_name":null,"infra_name":null,"authority":"(Garman,
        1880)","species":true,"subpopulation":false,"infrarank":false,"ssc_groups":[{"name":"IUCN
        SSC Shark Specialist Group (sharks and rays)","url":"https://www.iucnssg.org","description":"Chair:
        Rima Jabado (email: rimajabado@hotmail.com)\nRed List Authority Coordinator:
        Cassie Rigby (email: crigby@westnet.com.au)"}],"common_names":[{"main":true,"name":"Pacific
        Guitarfish","language":"eng"}],"synonyms":[{"name":"Rhinobatos planiceps Garman,
        1880","status":"NEW","genus_name":"Rhinobatos","species_name":"planiceps","species_author":"Garman,
        1880","infrarank_author":null,"subpopulation_name":null,"infra_type":null,"infra_name":null}]},"population_trend":{"description":{"en":"Decreasing"},"code":"1"},"red_list_category":{"version":"3.1","description":{"en":"Vulnerable"},"code":"VU"},"supplementary_info":{"area_restricted_is_restricted":null,"number_of_locations":null,"upper_elevation_limit":null,"lower_elevation_limit":null,"lower_depth_limit":50,"upper_depth_limit":1,"population_size":null,"population_severely_fragmented":null,"population_continuing_decline":null,"generational_length":"5","congregatory":null,"movement_patterns":null,"continuing_decline_in_area":null,"conservation_actions_in_place":[{"name":"In-place
        research and monitoring","actions":[{"name":"Action Recovery Plan","value":"No"},{"name":"Systematic
        monitoring scheme","value":"No"}]},{"name":"In-place land/water protection","actions":[{"name":"Conservation
        sites identified","value":"No"},{"name":"Area based regional management plan","value":"No"},{"name":"Occurs
        in at least one protected area","value":"Yes"},{"name":"Invasive species control
        or prevention","value":"Not Applicable"}]},{"name":"In-place species management","actions":[{"name":"Harvest
        management plan","value":"No"},{"name":"Successfully reintroduced or introduced
        benignly","value":"No"},{"name":"Subject to ex-situ conservation","value":"No"}]},{"name":"In-place
        education","actions":[{"name":"Subject to recent education and awareness programmes","value":"No"},{"name":"Included
        in international legislation","value":"No"},{"name":"Subject to any international
        management / trade controls","value":"No"}]}],"identification_information":null,"extreme_fluctuations":null,"no_of_subpopulations":null,"continuing_decline_in_subpopulations":null,"extreme_fluctuations_in_subpopulations":null,"all_individuals_in_one_subpopulation":null,"no_of_individuals_in_largest_subpopulation":null,"estimated_area_of_occupancy":null,"continuing_decline_in_area_of_occupancy":null,"extreme_fluctuations_in_area_of_occupancy":null,"estimated_extent_of_occurence":null,"continuing_decline_in_extent_of_occurence":null,"extreme_fluctuations_in_extent_of_occurence":null,"continuing_decline_in_number_of_locations":null,"extreme_fluctuations_in_number_of_locations":null},"documentation":{"range":"The
        Pacific Guitarfish occurs from southern Mexico to northern Chile including
        the Galápagos\u0026#160;Islands (Ecuador) in the Eastern Central and Southeast
        Pacific (Last \u003cem\u003eet al.\u003c/em\u003e 2016b).","population":"\u003cp\u003eThere
        are no available data on population trend of the Pacific Guitarfish. In some
        areas it appears to be rare or in low abundance (e.g., El Salvador, Costa
        Rica, Colombia), but in others it is a common target or bycatch species (e.g.,
        Ecuador, Peru), suggesting that its core distribution is in southern areas
        of its range. Inshore guitarfishes are susceptible to population reduction
        and overexploitation where they are heavily fished (Moore 2017). The Pacific
        Guitarfish is subjected to intense and largely unmanaged fishing pressure
        throughout most of its range (including targeted fishing), with little refuge
        (except in some remote areas).\u003cbr/\u003e\u003cbr/\u003eOverall, due to
        levels of exploitation from its exposure to inadequately managed fisheries
        throughout much of its range, it is suspected that the Pacific Guitarfish
        has undergone a population reduction of 30–49% over the last three generations
        (15 years).\u003c/p\u003e","habitats":"\u003cp\u003e\u003cspan lang=\"EN-US\"\u003eThe
        Pacific Guitarfish inhabits shallow inshore and continental shelf waters to
        a depth of 50 m (Weigmann 2016). It reaches a maximum size of 125 cm total
        length (Silva-Garay \u003cem\u003eet al. \u003c/em\u003e2018).\u0026#160;Reproduction
        is viviparous but nothing else is known of its biology.\u0026#160;\u003cspan
        lang=\"EN-US\"\u003eAge data are not available for this species, but generation
        length is inferred to be 5 years based on a generation length of 9 years for
        the larger\u0026#160;Shovelnose Guitarfish (\u003cem\u003ePseudobatos productus\u003c/em\u003e)
        (170 cm TL) (Timmons and Bray 1997).\u003c/span\u003e\u003c/p\u003e","threats":"This
        species is targeted either directly or as part of multi-species fisheries
        using gillnet, longline, and beach-seine. It is also a bycatch of large-scale
        and small-scale shrimp trawl fisheries and small-scale gillnet fisheries and
        is usually retained for its meat. There is little information available on
        catches in northern parts of its range and it is only irregularly recorded
        in El Salvador (Fuentes and Hernández 2004), Costa Rica (Clarke \u0[...]
{"scope":"Majority (50-90%)","timing":"Ongoing","internationalTrade":null,"score":"Medium
        Impact: 6","severity":"Slow, Significant Declines","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Unintentional
        effects: (subsistence/small scale) [harvest]"},"code":"5_4_3"},{"scope":"Majority
        (50-90%)","timing":"Ongoing","internationalTrade":null,"score":"Medium Impact:
        6","severity":"Slow, Significant Declines","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Intentional
        use: (subsistence/small scale) [harvest]"},"code":"5_4_1"},{"scope":"Majority
        (50-90%)","timing":"Ongoing","internationalTrade":null,"score":"Medium Impact:
        6","severity":"Slow, Significant Declines","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Unintentional
        effects: (large scale) [harvest]"},"code":"5_4_4"}],"credits":[{"credit_type_name":"assessor","full":"Kyne,
        P.M., Charvet, P., Areano, E.M., Cevallos, A., Espinoza, M., González, A.,
        Gonzalez-Pestana, A., Herman, K., Mejía-Falla, P.A., Morales-Saldaña, J.M.,
        Navia, A.F. \u0026 Velez-Zuazo, X.","value":["Paola A. Mejía-Falla (Squalus
        Foundation (Wildlife Conservation Society))","Adriana Cevallos","Ximena Velez-Zuazo","Jorge
        Manuel Morales-Saldaña","Elisa Areano","Peter Kyne (Charles Darwin University,
        Australia / IUCN SSC Shark RLA Coordinator)","P[...]
[...]
{"scope":"Majority (50-90%)","timing":"Ongoing","internationalTrade":null,"score":"Unknown","severity":"Unknown","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Habitat
        shifting \u0026 alteration"},"code":"11_1"}],"credits":[{"credit_type_name":"assessor","full":"Finucci,
        B., Ebert, D.A., Didier, D. \u0026 Rohner, C.A.","value":["Christoph Rohner","Dave
        Ebert (Moss Landing Marine Labs, Pacific Shark Research Center)","Brit Finucci
        (IUCN SSC Shark Specialist Group)","Dominique Didier"]},{"credit_type_name":"evaluator","full":"Kemper,
        J. \u0026 Rigby, C.L.","value":["Jenny Kemper (Moss Landing Marine Laboratories;
        Pacific Shark Research Center)","Cassandra Rigby (James Cook University, Queensland,
        Australia)"]},{"credit_type_name":"contributor","full":"Barnett, L.A.K.","value":["Lewis
        Barnett (University of California Davis)"]},{"credit_type_name":"facilitators","full":"Finucci,
        B.","value":["Brit Finucci (IUCN SSC Shark Specialist Group)"]}],"errata":[],"references":[{"citation":"Barnett,
        L.A.K., Ebert, D.A. and Cailliet, G.M. 2012. Evidence of stability in a chondrichthyan
        population: case study of the spotted ratfish Hydrolagus colliei (Chondrichthyes:
        Chimaeridae). \u003ci\u003eJournal of Fish Biology \u003c/i\u003e 80(5): 1765-1788.","year":"2012","title":"Evidence
        of stability in a chondrichthyan population: case study of the spotted ratfish
        Hydrolagus colliei (Chondrichthyes: Chimaeridae)","author":"Barnett, L.A.K.,
        Ebert, D.A. and Cailliet, G.M. ","citation_short":null},{"citation":"IUCN.
        2024. The IUCN Red List of Threatened Species. Version 2024-2. Available at:
        \u003ca href=\"www.iucnredlist.org\"\u003ewww.iucnredlist.org\u003c/a\u003e.
        (Accessed: 28 October 2024).","year":"2024","title":"The IUCN Red List of
        Threatened Species. Version 2024-2","author":"IUCN","citation_short":"IUCN
        2024-2"},{"citation":"Cornthwaite, M., Granum, L. and Haggarty, D. 2020. British
        Columbia Groundfish Fisheries and Their Inv[...]
[...]
