http_interactions:
- request:
    method: GET
    uri: https://api.iucnredlist.org/api/v4/taxa/scientific_name?genus_name=Sphyrna&species_name=lewini
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
      etag: W/"a1150795373c924baf084bf5264a2165"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"taxon":{"sis_id":39385,"scientific_name":"Sphyrna lewini","species_taxa":[],"subpopulation_taxa":[{"sis_id":165291,"scientific_name":"Sphyrna
        lewini Eastern Central and Southeast Pacific subpopulation","kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"CHONDRICHTHYES","order_name":"CARCHARHINIFORMES","family_name":"SPHYRNIDAE","genus_name":"Sphyrna","species_name":"lewini","subpopulation_name":"Eastern
        Central and Southeast Pacific subpopulation","infra_name":null,"authority":"(Griffith
        \u0026amp; Smith, 1834)","ssc_groups":[{"name":"IUCN SSC Shark Specialist
        Group (sharks and rays)","url":"https://www.iucnssg.org","description":"Chair:
        Rima Jabado (email: rimajabado@hotmail.com)\nRed List Authority Coordinator:
        Cassie Rigby (email: crigby@westnet.com.au)"}],"common_names":[],"synonyms":[]},{"sis_id":165297,"scientific_name":"Sphyrna
        lewini Eastern Central Atlantic subpopulation","kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"CHONDRICHTHYES","order_name":"CARCHARHINIFORMES","family_name":"SPHYRNIDAE","genus_name":"Sphyrna","species_name":"lewini","subpopulation_name":"Eastern
        Central Atlantic subpopulation","infra_name":null,"authority":"(Griffith \u0026amp;
        Smith, 1834)","ssc_groups":[{"name":"IUCN SSC Shark Specialist Group (sharks
  [...]
- request:
    method: GET
    uri: https://api.iucnredlist.org/api/v4/assessment/2918526
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
      etag: W/"bfe1e2e7e10a33295ea3c7c93fffb55c"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"assessment_date":"2018-11-08T00:00:00.000+00:00","year_published":"2019","latest":true,"possibly_extinct":false,"possibly_extinct_in_the_wild":false,"sis_taxon_id":39385,"criteria":"A2bd","url":"https://www.iucnredlist.org/species/39385/2918526","citation":"Rigby,
        C.L., Dulvy, N.K., Barreto, R., Carlson, J., Fernando, D., Fordham, S., Francis,
        M.P., Herman, K., Jabado, R.W., Liu, K.M., Marshall, A., Pacoureau, N., Romanov,
        E., Sherley, R.B. \u0026 Winker, H. 2019. Sphyrna lewini. The IUCN Red List
        of Threatened Species 2019: e.T39385A2918526. Accessed on 16 June 2026.","assessment_id":2918526,"assessment_points":false,"assessment_ranges":true,"taxon":{"sis_id":39385,"scientific_name":"Sphyrna
        lewini","species_taxa":[],"subpopulation_taxa":[{"sis_id":165291,"scientific_name":"Sphyrna
        lewini Eastern Central and Southeast Pacific subpopulation","kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"CHONDRICHTHYES","order_name":"CARCHARHINIFORMES","family_name":"SPHYRNIDAE","genus_name":"Sphyrna","species_name":"lewini","subpopulation_name":"Eastern
        Central and Southeast Pacific subpopulation","infr[...]
{"scope":"Majority (50-90%)","timing":"Ongoing","internationalTrade":"Yes","score":"Medium
        Impact: 6","severity":"Slow, Significant Declines","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Intentional
        use: (large scale) [harvest]"},"code":"5_4_2"},{"scope":"Majority (50-90%)","timing":"Ongoing","internationalTrade":null,"score":"Medium
        Impact: 6","severity":"Slow, Significant Declines","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Unintentional
        effects: (large scale) [harvest]"},"code":"5_4_4"},[...]
{"scope":"Majority
        (50-90%)","timing":"Ongoing","internationalTrade":"Yes","score":"Medium Impact:
        6","severity":"Slow, Significant Declines","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Intentional
        use: (subsistence/small scale) [harvest]"},"code":"5_4_1"}],"credits":[{"credit_type_name":"assessor","full":"Rigby,
        C.L., Dulvy, N.K., Barreto, R., Carlson, J., Fernando, D., Fordham, S., Francis,
        M.P., Herman, K., Jabado, R.W., Liu, K.M., Marshall, A., Pacoureau, N., Romanov,
        E., Sherley, R.B. \u0026 Winker, H.","value":["Sonja Fordham (Shark Advocates
        International)","Rima Jabado (Elasmo Project)","Malcolm Francis (IUCN SSC
        Shark Specialist Group)","Andrea Marshall (IUCN SSC Shark Specialist Group)","John
        Carlson (NOAA)","Henning Winker (aSouth African National Biodiversity Institute,
        Kirstenbosch, Research Centre, Claremont, South Africa)","Cassandra Rigby
        (James Cook University, Queensland, Australia)","Nicholas Dulvy (Simon Fraser
        University, Canada / IUCN SSC[...]
[...]
